---
import MainLayout from '../layouts/MainLayout.astro';
import Header from '../components/Header.astro';
---

<MainLayout title="关于我">
  <Header />
  
  <div class="page active" id="about">
    <div class="content">
      <h1>关于我</h1>
      <div class="about-content">
        <h3 style="color: #F3C078;">1</h3><br>
        <h3 style="color: #AEBAF6;">2</h3><br>
        <h3 style="color: #F39C9C;">3</h3><br>
        <h3 style="color: #76DCFD;">4</h3>
      </div>
    </div>
  </div>
</MainLayout>