---
import MainLayout from '../layouts/MainLayout.astro';
import Header from '../components/Header.astro';
---

<MainLayout title="联系我">
  <Header />
  
  <div class="page active" id="contact">
    <div class="content">
      <h1>联系我</h1>
      <div class="about-content">
        <p>联系我</p>
      </div>
      <div class="btn-container">
        <a href="mailto:me.im@qq.com" class="btn" target="_blank">Email</a>
      </div>
    </div>
  </div>
</MainLayout>