---
import MainLayout from '../layouts/MainLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<MainLayout title="喵喵快乐小窝">
  <Header />
  
  <div class="page active" id="home">
    <div class="content">
      <img src="/images/avatar.png" alt="Avatar" class="avatar">
      <div class="about-content">
        <h2 style="color: #FE7BB5;">Hello!</h2>
        <h3 style="color: #B3B1FE;">这里是喵喵的快乐小窝~</h3>
      </div>
    </div>
    <Footer />
  </div>
</MainLayout>