---
---

<div class="footer">
  <div class="btn-container">
    <a href="https://blog.acg.rest" class="btn">BLOG</a>
    <a href="https://space.bilibili.com/9982886" class="btn" target="_blank">Bilibili</a>
    <a href="https://github.com/xiaorona" class="btn" target="_blank">Github</a>
  </div>
  <div>©2025 Xiaorona.</div>
</div>
